:root
{
    --main-theme: #5796CA;
    --main-theme-light: #84B5DE;
    --main-theme-xlight: #B1D3F0;
}

body, select, button, input
{
    font-family: 'Open Sans', sans-serif;
}

body
{
    margin: 0;
}

/* top-wrapper */

#top-wrapper
{
    display: flex;
    flex-direction: column;
}

#top-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em 1em 2em ;
}

#title
{
    font-size: 3em;
    color: hsl(0, 0%, 40%);
}

#key-indicators-container
{
    background-color: var(--main-theme-xlight);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0 1em 0 1em;
    float: right;
    clear: right;
}

#key-indicators-container > span
{
    padding: 0.5em;
}

.indicator-value
{
    font-weight: bold;
}

#top-tabs
{
    margin: 5px 0 2em 0;
    padding: 0 2em 0 2em;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--main-theme-xlight);
    overflow: hidden; /* Don't show off-screen tabs */
}

.tabs
{
    font-weight: bold;
    background-color: inherit;
    padding: 0 20px 0 20px;
    height: 30px;
    float: left;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    cursor: pointer;
}

#top-tabs button:hover
{
    background-color: var(--main-theme-light);
}

#top-tabs button.active
{
    background-color: var(--main-theme);
}

/* left-main-wrapper */

.left-main-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 2em 0 2em
}

.hidden
{
    position: absolute;
    top: 10000px;
    right: 10000px;
}

/* left-wrapper */

.left-wrapper
{
    width: auto;
    float: left;
    margin-right: 2em;
}

.filter > table
{
    border: solid gray 1px;
    padding: 0.5ex;
    margin-bottom: 0.5ex;
}

.smalltitle
{
    font-weight: bold;
}

.display-export
{
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
}

.visualization-selector, #export-selector
{
    font-size: small;
    margin-right: 10px;
}

.display, #export
{
    padding: 0.5ex;
    font-size: small;
    margin: 0.5ex;
}

.map
{
    width: 100%;
    height: 38vh;
}

/* right-wrapper (main-wrapper) */

.main-wrapper
{
    display: flex;
    margin-top: 1em;
    flex-direction: column;
}

.viz-title {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.map-container
{
    height: 60vh;
    width: 55vw;
    display: none;
}

.region-list
{
    list-style-type: none;
}

.region-list li
{
    display: inline;
}

.region-list, .region-list li
{
    margin: 0;
    padding: 0;
}

.region-list span
{
    display: inline;
    font-weight: bold;
}

.region-list
{
    width: 30em;
}

.chart-wrapper
{
    display: flex;
    flex-flow: row wrap;
    display: none;
}

.chart-container
{
    margin-left: 30px;
    width: 40vw;
    height: 60vh;
}

.legend-container
{
    margin-right: 30px;
    width: 12vw;
}

/* Map styling */

.marker {
    width: 35px;
    height: 35px;
}

.marker:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px white;
    border-radius: 100%;
}

.mapboxgl-popup {
    max-width: 300px;
    font: 12px/20px 'Open Sans', sans-serif;
}

.mapboxgl-popup-content {
    text-align: left;
    font: 12px/20px 'Open Sans', sans-serif;
}

ul {
    line-height: 100%;
    text-align: left;
    float: left;
}

.ref-counts {
    margin-top: 0px;
    margin-left: 5px;
    padding: 5px;
}

.facility-info {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 125%;
}
