:root
{
    --main-theme: #5796CA;
    --main-theme-light: #84B5DE;
    --main-theme-xlight: #B1D3F0;
}

body, select, button, input
{
    font-family: 'Open Sans', sans-serif;
}

body
{
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* top-wrapper */

#browser-support
{
    width: 99%; /* Not 100% because that causes an issue where the page adds a
                 * horizontal scrollbar
                 */
    margin: 0 auto;
    text-align: center;
    background: pink;
    font-weight: bold;
    padding: 3px;
    display: none;
}

#browser-support #dismiss
{
    padding-left: 10px;
    color: blue;
    text-decoration: underline;
    font-weight: normal;
}

#browser-support #dismiss:hover
{
    cursor: pointer;
}

#top-wrapper
{
    display: flex;
    flex-direction: column;
}

#top-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em 1em 2em ;
    gap: 3em;
}

#title-version-wrapper
{
    display: flex;
    align-items: baseline;
    gap: 1.5em;
}

#title
{
    font-size: 3em;
    color: hsl(0, 0%, 40%);
}

#version-number
{
    color: hsl(0, 0%, 40%);
}

#key-indicators-container
{
    background-color: var(--main-theme-xlight);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0 1em 0 1em;
    float: right;
    clear: right;
}

#key-indicators-container > span
{
    padding: 0.5em;
}

.indicator-value
{
    font-weight: bold;
}

#top-tabs
{
    margin: 5px 0 2em 0;
    padding: 0 2em 0 2em;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden; /* Don't show off-screen tabs */
    border-bottom: 2px solid var(--main-theme);
}

.tabs
{
    font-weight: bold;
    background-color: inherit;
    padding: 0 20px 0 20px;
    height: 30px;
    float: left;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    background-color: var(--main-theme-xlight);
}

#top-tabs button:hover
{
    background-color: var(--main-theme-light);
}

#top-tabs button.active
{
    background-color: var(--main-theme);
}

/* bottom-wrapper */

#bottom-outer-wrapper
{
    flex-basis: 0;
    flex-grow: 1;
    height: 0;
    min-height: 0;
}

.bottom-wrapper
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    margin: 0 2em 0 2em;
    gap: 1em;
}

.bottom-wrapper.multiviz
{
    height: auto;
    justify-content: space-around;
    align-content: space-around;
}

.hidden
{
    position: absolute;
    top: 10000px;
    right: 10000px;
}

/* left-wrapper */

.left-wrapper
{
    width: auto;
    float: left;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: solid #ccc 1px;
    padding: 0.5ex;
}

.filter > table
{
    margin-bottom: 0.5ex;
}

.smalltitle
{
    font-weight: bold;
}

.display-export
{
    display: flex;
    align-items: center;
    margin-bottom: 1ex;
}

#export-div
{
    display: block;
}

.visualization-selector, #export-selector
{
    margin-right: 10px;
    font-size: large
}

.display, #export
{
    padding: 0.5ex;
    font-weight: bold;
    margin: 0.5ex;
    flex-grow: 1;
    max-width: 128px;
    height: 100%;
}

.export-input-field-block
{
    display: block;
    float: right
}

.export-input-field
{
    margin-top: 5px;
}

.export-input-field input
{
    float:right;
    margin-left: 10px;
}

.map
{
    width: 100%;
    flex-grow: 0.98; /* For some reason flex-grow: 1 causes a 1px scroll */
}

/* right-wrapper (main-wrapper) */

.main-wrapper
{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    width: 47vw;
    /* On a 1920x1080 screen, we'd like to have a great 2x2 layout.
     * The top bar may have 166px
     * The gap between the 4 visualizations may be 16px
     * (1080px-166px-16px)/2 = 449px
     */
    min-height: 440px;
    min-width: 700px;
}

.multiviz .main-wrapper
{
    flex-basis: auto;
}

.viz-title
{
    margin-bottom: 1em;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.viz-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    height: 0;
}

.map-container
{
    height: 100%;
    flex-grow: 1;
    display: none;
}

.region-list
{
    list-style-type: none;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0;
    width: 31em;
}

.region-list li
{
    display: inline;
}

.region-list li
{
    margin: 0;
    padding: 0;
}

.region-list span
{
    display: inline;
    font-weight: bold;
}

.chart-wrapper
{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.multiviz .chart-wrapper
{
    flex-flow: row;
}

.chart-container
{
    margin-left: 30px;
    height: 100%;
    flex-grow: 1;
    display: none;
}

.multiviz .chart-container
{
    flex-grow: 1;
    margin: 0;
}

.chart-container svg
{
    padding: 5px;
    box-sizing: border-box; /* Include padding as part of the height */
}

.multiviz .chart-container svg
{
    float: right;
}

/* Increase font size for multiviz tabs */
.chart-container g, .chart-container text
{
    font-size: 20px;
}

.chart-container text.small
{
    font-size: 14px;
}

.legend-container
{
    margin-right: 30px;
}

.multiviz .legend-container
{
    margin-right: 0px;
}

/* Map styling */

.marker {
    width: 35px;
    height: 35px;
}

.marker:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px white;
    border-radius: 100%;
}

.mapboxgl-popup {
    max-width: 300px;
    font: 12px/20px 'Open Sans', sans-serif;
}

.mapboxgl-popup-content {
    text-align: left;
    font: 12px/20px 'Open Sans', sans-serif;
}

.mapboxgl-canvas, .mapboxgl-map {
    min-height: 250px;
}

ul {
    line-height: 100%;
    text-align: left;
    float: left;
}

.ref-counts {
    margin-top: 0px;
    margin-left: 5px;
    padding: 5px;
}

.popup-info {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 125%;
}
