<%- include('partials/head.ejs') -%>
<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="./login.css"> -->
<link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
<link rel="icon" href="images/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <style>
        .container{
            font-family: 'Roboto', sans-serif;    
        }
    </style>


<body style="background-color:lightcyan;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 col-lg-6 mx-auto">
                <div style="text-align: center;">
                    <p></p>
            <h3 >Cold Chain Inventory System </h3>
            <h3 >(CCIS)</h3>
            <p></p>
            <h5 style="text-decoration: underline;">*Demonstration Site*</h5>
        </div>
            <div class="card my-5">
                <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form action="./login" method="post">
                    <div>
                    <input type="text" id="username" class="form-control" placeholder="Username" name="username" required autofocus>
                    </div>
                    <br/>
                    <div>
                    <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                    <br/>
                    <button id="login-submit" class="btn btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                </form>
                </div>
            </div>
            
                <div class="card my-5">
                    <div class="card-body">
                    <h5 class="card-title text-center">Click below to request for a CCIS demo account</h5>
                    <p></p>
                    <div class="d-flex justify-content-center">
                        <a id="login-submit" href="/dashboard/register" class="btn btn-primary btn-block text-uppercase" style="margin:auto;" type="submit">Request Account</a>
                    </div>
                    </div>
            </div> 
           
                <div class="d-flex justify-content-center">
                    <a href="./Cold Chain Tutorial.pdf" class="btn btn-primary btn-block text-uppercase" style="margin:auto;" type="submit">Download CCIS Android App Setup Guide</a>
                </div>
                
        </div>  
          
        </div>
        </div>
    </div>
</body>
</html>
