body
{
    font-family: sans-serif;
}

#title
{
    float: right;
    font-size: 3em;
    color: hsl(0, 0%, 40%);
    padding-right: 1em;
}

#main-wrapper
{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#filter > table
{
    border: solid gray 1px;
    padding: 0.5ex;
    margin-bottom: 0.5ex;
}

.smalltitle
{
    font-weight: bold;
}

select
{
    font-size: small;
}

button
{
    padding: 0.5ex;
    font-size: small;
    margin: 0.5ex;
}

#map
{
    height: 60vh;
    width: 40vw;
}

#map-container
{
    height: 60vh;
    width: 55vw;
    display: none;
}

#chart-wrapper
{
    display: flex;
    flex-flow: row-wrap;
    display: none;
}

#chart-container
{
    margin-left: 30px;
    width: 40vw;
}

#key-indicators-container
{
    float: right;
    clear: right;
    padding: 0.5em;
    margin-right: 3em;
    background-color: #FEEB8A;
    display: none;
}

#legend-container
{
    margin-right: 30px;
    width: 12vw;
}

.marker {
    width: 35px;
    height: 35px;
}

.mapboxgl-popup {
    max-width: 300px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font: 12px/20px 'Consolas', sans-serif;
}
